.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

.card img {
    width: 310px;
    height: 180px;
    border-radius: 5px;
}

.title-section {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.title-section .title-img {
    width: 35px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 35px;
    border-radius: 20px;
}

.title-section h2 {
    font-size: 16px;
    margin: 5px 0;
    font-weight: 600;
    color: #000;
}

.card h3 {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}

.card p {
    font-size: 14px;
    color: #888;
    margin: 5px 0;
}
