.sideBar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.sortcut-links img{
    width: 25px;
    margin-right:20px;
}
.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}
.sideBar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
    
}
h3{
    font-size: 15px;
    margin: 10px 0px;
    color: #5a5a5a;
    text-align: left;
}
.suscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
